* {
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow-y: scroll;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', sans-serif;
  font-size: 2vmax;
  min-height: 100%;
  margin: 0 auto;
  background: #302833;
  color: white;
  display: flex;
  flex-direction: column;
}
header {
  position: fixed;
  text-shadow: 0px 0px 1px #302833;
  z-index: 1;
  width: 100%;
  left: 0;
}
header,
footer {
  pointer-events: none;
}
#loading {
  justify-content: center;
  display: flex;
  flex-grow: 1;
  padding-bottom: 15vmax;
}
#loading p {
  align-self: center;
  font-size: 4.5vmax;
  font-weight: 900;
}
.anime-blink {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
#menu {
  padding-top: 10vmax;
  flex-grow: 1;
}
#menu ul {
  align-items: center;
  flex-grow: 4;
}
#rows-container {
  display: flex;
  align-items: flex-start;
}
#rows-container .item {
  padding: 1px;
}
#rows-container dl {
  background: white;
  border-radius: 0.1vmin;
}
.item-container {
  background: #302833;
  flex-grow: 1;
  width: 100%;
}
#rows-container,
#zoom-container {
  display: flex;
}
#rows-container dl,
#zoom-container dl {
  color: #302833;
  margin: 0;
}
.item-image {
  margin: 0;
  padding: 1vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 52.8px;
}
.item-image svg {
  width: 100%;
  max-height: 80px;
}
#zoom-container {
  position: fixed;
  z-index: 2;
  padding: 1px;
}
#zoom-container .item {
  width: 100%;
  padding: 1px;
  border-radius: 0.1vmax;
  background: white;
}
#zoom-container .item dl {
  height: 100%;
  padding: 0.5vmax;
  display: flex;
  flex-direction: column;
}
#zoom-container .item dt {
  padding: 0.5vmax;
  border-left: 2vmax solid #302833;
  font-size: 1.5vmax;
}
#zoom-container .item dd {
  margin: 0;
  padding: 0.75vmax;
}
#zoom-container .item .item-image {
  padding: 1.25vmax;
}
#zoom-container .item svg {
  max-height: 100%;
}
#zoom-container .item .link {
  font-size: 1.5vmax;
}
#zoom-container .item-image {
  height: 100%;
}
#zoom-container .link {
  position: absolute;
  right: 0.5vmax;
  bottom: 0.5vmax;
  text-align: right;
  font-weight: 900;
}
#zoom-container .link span {
  display: inline-block;
  color: white;
  background: #b7282e;
  padding: 0.5vmax;
  border-radius: 0.1vmax;
}
#zoom-container .link a {
  margin-left: 1vmax;
  color: #b7282e;
  text-decoration: none;
}
@media (max-width: 480px) {
  body {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .item-image .small {
    font-size: 1.5vmin;
  }
  #waypoint span {
    font-size: 1.5vmin;
  }
}
@media (min-width: 1280px) {
  .item-image .small {
    font-size: 1.25vmin;
  }
  #waypoint span {
    font-size: 1.25vmin;
  }
}
@media (min-width: 1920px) {
  .item-image .small {
    font-size: 0.9vmin;
  }
  #waypoint span {
    font-size: 0.9vmin;
  }
}
#waypoint {
  width: 100%;
  padding: 1px;
  font-weight: 900;
}
#waypoint div {
  width: 100%;
  padding: 1vmax 0;
  background: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 0.1vmin;
}
#waypoint span {
  background: white;
  color: #302833;
}
#license {
  flex-grow: 1;
  justify-content: center;
}
#license > div {
  max-width: 66.7vmax;
}
footer {
  width: 100%;
  font-size: 1.75vmax;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer p {
  margin: 0.5em 0;
  text-shadow: 0px 0px 0.33vmax #302833;
}
h1 {
  text-align: center;
  font-size: 4.5vmax;
  margin: 0;
  margin-top: 3vmax;
}
h1.small {
  margin-top: 0vmax;
}
h2 {
  margin: 1vmax 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.bold9 {
  font-weight: 900;
}
.small {
  font-size: 1.75vmax;
}
.button {
  width: 75%;
  display: inline-flex;
  justify-content: center;
  background: white;
  color: #302833;
  border-radius: 2px;
  font-weight: 900;
  margin-top: 3vmax;
  flex-grow: 1;
}
.button span {
  font-size: 8vmin;
  align-self: center;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-middle {
  display: flex;
  align-items: center;
}
#own {
  position: absolute;
  width: 1vmax;
  height: 1vmax;
  background: #82ae46;
  left: 1vmax;
  top: 1vmax;
}
#own.own {
  background: #0095d9;
}
#download {
  position: fixed;
  top: 0;
  right: 0;
  background: #0095d9;
  border-bottom-left-radius: 1.25vmax;
  font-weight: 900;
  padding: 1.25vmax;
  padding-bottom: 2vmax;
}
#download a {
  text-decoration: none;
  color: white;
  padding: 0.2vmax 0.5vmax;
  padding-top: 0;
  border: 0.5vmax solid white;
  border-top: 0;
}
