@black: #302833;

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', sans-serif;
    font-size: 2vmax;
    min-height: 100%;
    margin: 0 auto;
    padding: 5vmax 1vmax;
    padding-top: 10vmax;
    background: @black;
    color: white;
    .flex-column;
}

header {
    position: fixed;
    text-shadow: 0px 0px 1px @black;
    z-index: 1;
    width: 100%;
    top: 3vmax;
    left: 0;
}

#loading {
    justify-content: center;
    display: flex;
    flex-grow: 1;
    padding-bottom: 15vmax;
    p {
        align-self: center;
        font-size: 4.5vmax;
        font-weight: 900;
    }
}

.anime-blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

#menu {
    flex-grow: 1;
    ul {
        align-items: center;
        flex-grow:4;
    }
}

#item-container, #zoom-container {
    display: flex;
    flex-wrap: wrap;
    .item {
        dl {
            width: 100%;
            border-radius: 2px;
            background: white;
            color: @black;
            margin: 0;
            .flex-column;
        }
        dt {
            padding: 0.5vmax;
            border-left: 2vmax solid @black;
            font-size: 1.5vmax;
        }
        dd {
            margin: 0;
            padding: 0.75vmax;
        }
        .link {
            text-align: right;
            a {
                color: #b7282e;
                font-weight: 900;
                text-decoration: none;
            }
        }
        position: relative;
        left: 0;
        top: 0;
    }
}

@keyframes spread {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

.item-image {
    // padding: 3vmax 1vmax;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 100%;
        min-height: 10vmin;
        max-height: 18vmin;
    }
}

#zoom-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    .item {
        width: 100%;
        padding: 0.25vmax;
        animation-duration: 0.2s;
        animation-name: spread;
        animation-fill-mode: forwards;
        dl {
            height: 100%;
            padding: 0.5vmax;
        }
        .item-image {
            padding: 1.25vmax;
        }
        svg {
            max-height: 100%;
        }
        .link {
            font-size: 1.5vmax;
        }
    }
    .item-image {
        height: 100%;
    }
}

@media (max-width: 480px) {
    #item-container {
        .item {
            width: 100%;
            margin-bottom: 1vmax;
        }
        svg {
            max-height: 50vmin;
        }
    }
}

@media (min-width: 480px) {
    #item-container {
        li {
            width: 50%;
            display: inline-flex;
            padding: 0.5vmax;
        }
        .item {
            dt {
                font-size: 1.25vmax;
            }
        }
        .link {
            font-size: 1.25vmax;
        }
    }
}

@media (min-width: 640px) {
    #item-container {
        li {
            width: 33.3%;
        }
        svg {
            // max-height: 7vmin;
        }
        .item {
            dt {
                padding: 0.2vmax;
                border-left-width: 1.2vmax;
                font-size: 0.9vmax;
            }
        }
        .link {
            font-size: 1vmax;
        }
        .anime-blink, #waypoint span {
            font-size: 1.8vmin;
        }
    }
}

@media (min-width: 1024px) {
    #item-container {
        li {
            width: 25%;
        }
    }
}

@media (min-width: 1280px) {
    #item-container {
        li {
            width: 20%;
        }
        .item {
            dt {
                padding: 0.25vmax;
                border-left-width: 1.25vmax;
            }
        }
        .link {
            font-size: 0.75vmax;
        }
        .anime-blink, #waypoint span {
            font-size: 1.25vmin;
        }
    }
}

@media (min-width: 1920px) {
    #item-container {
        li {
            width: 12.5%;
        }
        svg {
            // max-height: 5vmax;
            // min-height: auto;
        }
        .anime-blink, #waypoint span {
            font-size: 0.8vmin;
        }
    }
}

#waypoint {
    width: 100%;
    .bold9;
    .anime-blink;
    div {
        width: 100%;
        padding: 1vmax;
        background: white;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        border-radius: 2px;
    }
    span {
        background: white;
        color: @black;
    }
}

#license {
    flex-grow: 1;
    justify-content: center;
    > div {
        max-width: 66.7vmax;
    }
}

footer {
    width: 100%;
    .small;
    .bold;
    position: fixed;
    bottom: 0;
    left: 0;
    p {
        margin: 0.5em 0;
        text-shadow: 0px 0px 0.33vmax @black;
    }
}

h1 {
    .center;
    font-size: 4.5vmax;
    margin: 0;
}

h2 {
    margin: 1vmax 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.bold9 {
    font-weight: 900;
}

.small {
    font-size: 1.75vmax;
}

.button {
    width: 75%;
    display: inline-flex;
    justify-content: center;
    background: white;
    color: @black;
    border-radius: 2px;
    .bold9;
    margin-top: 3vmax;
    flex-grow: 1;
    span {
        font-size: 8vmin;
        align-self: center;
    }
}

.flex {
    display: flex;
}

.flex-column {
    .flex;
    flex-direction: column;
}

.flex-middle {
    .flex;
    align-items: center;
}

#close {
    font-size: 2.5vmax;
    position: fixed;
    z-index: 2;
    top: 4px;
    right: 4px;
    background: white;
    color: @black;
    padding: 0.75vmax;
    border-radius: 2px;
    width: 4vmax;
    text-align: center;
    .bold9;
    box-shadow: 0px 0px 0.33vmax @black;
}

